body {
    font-family: 'Coda', Sans-serif;
}

.indented {
    display: block;
    margin: 5px 0px 5px 25px;
    padding: 2px 0px;
    max-width: 600px;
}

.underlined {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #a0a0a0;
}

.pinselect {
    display: none;
}

.pinimage {
    vertical-align: middle;
    margin: 0px;
    display: inline-block;
}

.mapset {
    height: 45px;
    line-height: 45px;
}

div.errormsg {
    color: #800000;
    background-color: #fff9f9;
    width: calc(100% - 30px);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #ff9999;
}

div.errormsg:before {
    margin: -4px 3px 0px -3px;
    vertical-align: super;
    content: '';
    display: block;
    background-size: 12px 12px;
    float: left;
    width: 12px;
    height: 12px;
}

div.errormsg p {
    padding: 4px;
}

.annot {
    font-size: smaller;
    font-style: italic;
}

button + button {
    margin-left: 10px;
}

dl.faq {
    padding-bottom: 5px;
}

dl.faq dt {
    font-weight: bold;
    margin: 10px 0px 0px;
    cursor: pointer;
}

dl.faq dd {
    font-style: italic;
    margin: 5px 0px 5px 20px;
    padding: 0px 0px 0px 5px;
    color: #808080;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: none none none solid;
}

dl.faq dt:after {
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "  ";
    vertical-align: middle;
}

dl.faq dd.hidden {
    display: none;
}

dl.faq dd.shown {
    display: block;
}

dl.faq tt {
    font-style: normal;
}

dl.faq ul {
    padding-left: 24px;
}

dl.faq ul img {
    border: 1px solid black;
}

img.thumb {
    max-width: 200px;
}

span.image-caption {
    font-size: smaller;
    display: block;
    margin-top: -8px;
}

dl.faq ul li {
    padding-bottom: 8px;
}

.ul {
    text-decoration: underline;
}

.sc {
    font-variant: small-caps;
}

.li_head {
    font-weight: bold;
    text-decoration: underline;
}

p.contact {
    display: block;
    margin-left: 70px;
    height: 60px;
    padding-top: 8px;
}

.ol_map {
    width: 60vw;
    height: 35vw;
    border: 1px solid black;
    max-width: 600px;
    max-height: 350px;
    margin-top: 10px;
}

.profile-image {
    float: left;
    border-style: none !important;
}
