div.errormsg:before {
    background: url('error.png') no-repeat;
}

dl.faq dt.hidden:after {
    background: url('arr_right.png') no-repeat;
}

dl.faq dt.shown:after {
    background: url('arr_down.png') no-repeat;
}